body {
    background-color: antiquewhite;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container, .grid-container {
    display: flex;
    flex-wrap: wrap;
    

}

.container {
    width: 960px;
    height: 960px;

}

.grid-container {
    border: solid black 2px;
    background-color: rgb(255, 255, 255);

    
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 40px;
    padding: 8px 16px 8px 16px;
    font-weight: 700;
}